body{
    background-color: rgb(196,219,193);
}
footer {
    margin-top: 100%;
    align-items: end;
    background-color: rgba(114, 169, 114, 0.25)
}
.barraLateral{
    background-color: rgb(179, 209, 175);
}
.menu{
    
}