@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400;1,900&display=swap');

:root {
    --verde-fondo: #rgba(164, 215, 164, 0.959);
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: linear-gradient(rgba(222, 240, 222, 0.75), rgba(138, 186, 138, 0.75)), url(../assets/HospitalHouse.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

footer {
  background-color: var(--verde-fondo);
}

/* TARJETAS DE ESPECIALIDADES */
.tarjetas-especialidad .card-body {
  min-height: 190px;
  transition: min-height 0.4s ease;
}

.tarjetas-especialidad:hover {
  transform: scale(1.025);
}

/* SPINER */
#spinner {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

/* MENSAJES DE EXITO O ERROR */
.toast-exito,
.toast-error {
  position: absolute;
  top: 0;
  right: -100%;
  border-radius: 10px;
  margin: 10px;
  z-index: 9999;
  display: flex;
  gap: 20px;
  transition: all 1s ease;
}

/* ERROR e INFO 403-404 */
.error404,
.error403 {
  font-size: 155px;
}

.info404,
.info403 {
  font-size: 35px;
}

/* DASHBOARD PROFESIONAL */
#dashboardProfesional{
  #tablero{
    height: 100%;
  }

  .dashboardProfesionalFragments , #DashboardPerfil{
    background-color: rgba(164, 215, 164, 0.596); 
    border: 1px solid #DDD;
    height: 100%;
  }

  .dashboardContenedorOfertas{
    max-height: 350px;
   background-color: rgba(164, 215, 164, 0.75); 
   border: 1px solid #DDD;
  }

  .tablaTurnosProfesional{
    background-color: rgba(164, 215, 164, 0.75); 
  }
}