<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaft.org">
<head>
    <meta charset="UTF-8">
    <meta name="logoHouse.ico" content="width=device-width, initial-scale=1.0">
    <title>Hospital House</title>
    <link rel="stylesheet" th:href="@{styles/index.css}">
    <link rel="shortcut icon" th:href="@{assets/logoHouse}">
</head>
<body>
    <header>
        <div class="contenedor">
            <div class="imagenHeader">
              <img th:src="@{assets/HospitalHouse.jpg}" alt="No se puede mostrar la imagen" width="230px" height="210">
            </div>
          <nav th:replace="/fragments/navbar :: nav"></nav>
        </div>
        
        
    </header>
  <h1>Hospital House</h1>
    <section>
        <i><h2>Breve explicación de la clínica</h2></i>
    </section>
    <section>
        <i><h2>Pienso poner opciones</h2></i>
        <p>como turnos</p>
        <p>novedades</p>
    </section>
    <footer>
        <h2>haré una tabla con contactos</h2>
    </footer>
</body>
</html>