<!DOCTYPE html>
<html
    lang="es"
    xmlns:th="http://www.thymeleaft.org"
>
    <head th:replace="/fragments/head :: head"></head>
  
    <body>

        <header th:replace="/fragments/header :: header"></header>
        <main>
            <div class="container content mt-5 mb-5">
                <div class="row">
                    <div class="col-md-8">

                        
                        <div class="bg-success p-2 text-dark bg-opacity-50" style="border-radius: 10px">
                        <div class="seccion-generica-general">
                            <h2><span style="font-size: 22pt;color: #006cb0"><strong>
                                        Turnos presenciales y consultas
                                        virtuales</strong>
                                </span>
                            </h2>
                            <p>&nbsp;</p>
                            <p style="font-size: 14pt">Solicitá tu turno ingresando a 
                                <span
                                  
                                     style="color: #006cb0; text-decoration: underline">
                                        <a
                                            href="/especialidades"
                                        >Servicios Médicos</a>
                                    
                                </span>, elegir la especialidad que esta necesitando y seleccionar
                                 un turno de las ofertas del especialista. También podes solicitarlo
                                  llamando al teléfono
                                <strong>0810-132-12341</strong> de lunes a viernes de 8hs a 20hs.
                            </p>
                            <p>&nbsp;</p>


                              <div class="fondoOptimizar" style="background-color:  #EE7734;">
                                <hr>
                                <p style="text-align: center;font-size: 14pt">
                                <strong>Optimizá tu tiempo</strong> . Al finalizar tu consulta
                                gestioná tus turnos para prácticas médicas complementarias o nuevas
                                 consultas ese mismo día.
                            </p>
                            <hr>
                        </div>
                            <h2></h2>
                            <h2><span style="color: #006cb0">
                                <strong>
                                    <span style="font-size: 22pt">
                                Portal de Pacientes
                                     </span>
                                </strong>
                                </span>
                            </h2>
                            <p>&nbsp;</p>
                        </div>
                            <div
                                class="accordion"
                                id="accordionExample"
                                style="color:blue;"
                            >
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button
                                            class="accordion-button"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne"
                                            aria-expanded="true"
                                            aria-controls="collapseOne"
                                        >
                                            ¿Cómo crear mi cuenta?
                                        </button>
                                    </h2>
                                    <div
                                        id="collapseOne"
                                        class="accordion-collapse collapse show"
                                        data-bs-parent="#accordionExample"
                                    >
                                        <div class="accordion-body">
                                            <strong>Pasos para crear Cuenta</strong> 
                                            Para crear una cuenta primero deberás
                                            dirigirte a <a href="/paciente/registro">registrarse</a>,
                                            luego cargar tus datos personales que encontrarás 
                                            en el formulario, luego ingresar.
                                            Ya con esto tendrás acceso a todos los servicios.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo"
                                            aria-expanded="false"
                                            aria-controls="collapseTwo"
                                        >
                                            ¿Como reservar mis turnos?
                                        </button>
                                    </h2>
                                    <div
                                        id="collapseTwo"
                                        class="accordion-collapse collapse"
                                        data-bs-parent="#accordionExample"
                                    >
                                        <div class="accordion-body">
                                            <strong>Pasos para reservar Turnos.</strong> 
                                            Lo primero que deberás hacer es
                                            ingresar con tus credenciales (email, password),
                                             si aun no las tienes revisa
                                            ¿Cómo Crear Una Cuenta?.
                                            Luego de ingresar dirígete a la sección <a href="/especialidades">Servicios Meédicos</a>, 
                                            donde encontrarás la oferta de profesionales, 
                                            con sus días y horarios de atención, tan solo 
                                            tiene que elegir, el día y horario que se ajusten 
                                            a ti.
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button
                                                class="accordion-button collapsed"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseThree"
                                                aria-expanded="false"
                                                aria-controls="collapseThree"
                                            >
                                                ¿Cómo ver y descargar los resultados de mis 
                                                estudios?
                                            </button>
                                        </h2>
                                        <div
                                            id="collapseThree"
                                            class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample"
                                        >
                                            <div class="accordion-body">
                                                <strong>EN DESARROLLO</strong> Estamos trabajando
                                                 para brindar una mejor experiencia de uso, 
                                                 gracias por su interés.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div
                        class="col-md-4"
                        style="margin:0 auto;"
                    >



                    <div class="card" id="infoturno">
                        <div class="card-header" id="infoturno" style="align-items: center;">
                            <h1> <span style="font-size: 20pt;color: #006cb0"><strong> Información Útil </strong></span> </h1>
                           
                        </div>
                        <div class="card-body" id="infoturno">
                          <blockquote class="blockquote mb-0">
                            <div class="informacion-util-generica-bloque" id="infoturno">
                              <div style="font-size: 13pt" class="tamaño-texto">
                                <h4><strong>Sede Central MediYa!</strong></h4>
                                <p>&nbsp;</p>
                                <p><strong style="text-decoration: underline">Ubicación: </strong>
                                    Nameless 1234, Palermo, CABA.</p>
                                <p><strong>Teléfono:&nbsp;</strong>0810-132-1234</p>
                                <p><strong><span
                                            class=""
                                            data-color-group="turquoise"
                                        >Horarios:</span></strong> Lunes a viernes de 8 a 20 hs.</p>
                                <p>
                                    <strong>
                                        <span
                                            class=""
                                            data-color-group="turquoise"
                                        >   Email:
                                        </span> 
                                    </strong>mediya@mail.com
                                </p>
                                <p>&nbsp;</p>
                                </div>
                            <footer style="background-color: white" id="infoturno">
                                <hr>
                                <p style="text-align: center">Ver el listado de <strong>Obras Sociales</strong> y
                                    <strong>Prepagas</strong> haciendo clic <button
                                        type="button"
                                        class="btn text-primary"
                                        data-bs-toggle="modal"
                                        data-bs-target="#obrasSociales"
                                    >
                                        <strong><u>AQUÍ</u></strong>
                                    </button>
                                </p>
                                <p style="text-align: center">Ver el listado de <b>Especialidad
                                        Médicas</b>&nbsp;haciendo clic <a
                                        href="/especialidades"><strong>AQUÍ</strong></a></p>
                                <hr>
                                <p>&nbsp;</p>
                              </footer>
                            </div>
                          </blockquote>
                          </div>
                        </div>
                    </div>
                </div> 
                     
                <div
                    class="modal fade"
                    id="obrasSociales"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5
                                    class="modal-title"
                                    id="exampleModalLabel"
                                >Listado de Obras Sociales</h5>
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                ></button>
                            </div>
                            <div class="modal-body">
                                <strong>OSECAC</strong>
                                <br>
                                <strong>OSPE</strong>
                                <br>
                                <strong>SWISS MEDICAL</strong>
                                <br>
                                <strong>SANCORSALUD</strong>
                                <br>
                                <strong>OSPRERA</strong>
                                <br>
                                <strong>UPCN</strong>
                                <br>
                                <strong>OSDE</strong>
                                <br>
                                <strong>OMIT</strong>
                                <br>
                                <strong>PARTICULAR</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="/fragments/footer :: footer"></footer>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
    </body>
</html>