<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaft.org">

<head th:replace="/fragments/head :: head"></head>

<body>
    <header th:replace="/fragments/header :: header"></header>
    <main>
        <div class="container mt-3" >
            <h1 style="color: #EE7734">Nuestros médicos: <span th:text="${#strings.capitalize(especialidad.toLowerCase())}"></span></h1>            <p th:if="${especialidad == 'CARDIOLOGIA'}">
                Cuenta con recursos tecnológicos de avanzada y especialistas con amplia experiencia y reconocida trayectoria que nos permiten alcanzar los más altos estándares de calidad en la prevención, diagnóstico y tratamiento de las enfermedades cardíacas.
            </p>
            <p th:if="${especialidad == 'PEDIATRIA'}">
                Excelencia médica y calidad al servicio de los más pequeños, en un ambiente especialmente diseñado para ellos. Nuestro equipo altamente calificado combina experiencia médica con un enfoque cálido y familiar.
            </p>
            <p th:if="${especialidad == 'GINECOLOGIA'}">
                Promueve el cuidado de la salud integral de la mujer. Con profesionales altamente capacitados, logra satisfacer las demandas que los avances de las ciencias biomédicas y la tecnología imponen, siempre dentro de un ambiente cálido, de respeto a la paciente. Cuenta con distintas secciones avocadas a la prevención primaria y secundaria, así como también en el tratamiento de las enfermedades avanzadas.
            </p>
            <p th:if="${especialidad == 'CLINICA'}">
                El área de Clínica Médica está inspirado en una forma de ver la medicina con foco en el paciente y su familia. Cuenta con profesionales de amplia experiencia de formación médica continua por medio de ateneos y cursos interdisciplinarios enfocados a mejorar el servicio y compromiso asumido. En el área ambulatoria se brinda atención clínica integral y consultorios de atención para pacientes recientemente externados que requieran control inmediato antes de ver a su médico de cabecera.
            </p> 
        </div>
        <div class="container mt-5 mb-5">
            <div class="row justify-content-center align-items-center">
                <div th:each="profesional : ${profesionales}" class="col-sm-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/assets/cardiologia.jpg}" alt="...">
                        <div class="card-body">
                            <input type="hidden" th:value="${profesional.id}">
                            <h5 th:text="${'Dr/a. '+profesional.apellido}" class="card-title">Dr.Menganito</h5>
                            <h7 th:text="${profesional.especialidad}">Especialidad</h7>
                            <p>Nombre: <span th:text="${profesional.nombre}"></span></p>
                            <p class="card-text" th:text="${profesional.descripcion}">

                            </p>
                            <span>Reputación</span>
                            <div class="rating" style="font-size: 48px;">
                                <span class="fa fa-star" style="color: gold"></span>
                                <span class="fa fa-star" style="color: gold"></span>
                                <span class="fa fa-star" style="color: gold"></span>
                                <span class="fa fa-half-star" style="color: gold"></span>
                            </div>

                            <!-- Verifica si el usuario está autenticado -->
                            <div th:if="${#authorization.expression('isAuthenticated()')}">
                                <button type="button" class="btn btn-primary modal_crear_button" data-bs-toggle="modal"
                                    th:data-bs-target="'#modal-' + ${profesional.id}">
                                    Solicitar Turno
                                </button>
                            </div>

                            <!-- Si el usuario no está autenticado, muestra el modal -->
                            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#modalIniciarSesion"
                                    onclick="console.log('Solicitar Turno clicado desde excepcion debo lanzar el modal')">
                                    Solicitar Turno
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL DE SOLICITAR TURNO -->
                    <div class="modal fade modal-general" th:id="'modal-'+${profesional.id}" tabindex="-1"
                        th:if="${session.usuario != null}" aria-labelledby="modalIniciarSesionLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Reservar Turno</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/oferta/reservar}" method="post" class="reservar-turno">
                                        <input type="hidden" th:value="${session.usuario.id}"
                                            th:id="'idUsuario-'+${session.usuario.id}" name="idPaciente">
                                        <input type="hidden" th:value="${profesional.id}"
                                            th:id="'idProfesional-'+${profesional.id}" name="idProfesional">
                                        <input type="hidden" th:id="'idOferta-'+${profesional.id}" name="idOferta">
                                        <div class="mb-3">
                                            <label for="fecha-crear" class="form-label">Fecha Del
                                                Turno</label>
                                            <input class="form-control form-control-lg" type="date"
                                                placeholder=".form-control-lg" aria-label=".form-control-lg example"
                                                name="fecha" th:id="'fecha-'+${profesional.id}">
                                        </div>
                                        <div class="mb-3">
                                            <label for="horarios-crear" class="form-label">Seleccione Horario:</label>
                                            <select class="form-control form-control-lg"
                                                th:id="'horarios-'+${profesional.id}" name="horario">
                                            </select>
                                        </div>
                                        <button class="btn btn-primary" th:id="'reservar-'+${profesional.id}" type="submit" disabled>
                                            Reservar
                                        </button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal para iniciar sesión -->
                <div class="modal fade" id="modalIniciarSesion" tabindex="-1" aria-labelledby="modalIniciarSesionLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Debes Iniciar Sesion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="d-grid gap-2">
                                    <a th:href="@{/login}" class="btn btn-primary">login</a>
                                </div>
                                <br>
                                <span>Si aún no tienes cuenta puedes
                                    <strong>
                                        <a href="/paciente/registro">registrarte aquí!</a>
                                    </strong>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="/fragments/spinner :: div"></div>

    <footer th:replace="/fragments/footer :: footer"></footer>

    <script th:src="@{/js/modalProfesional.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        var buttons_modal = document.getElementsByClassName("modal_crear_button");
        var buttons_modal_array = Array.from(buttons_modal);

        buttons_modal_array.forEach(element => {
            element.addEventListener("click", event => {
                document.getElementById("spinner").style.display = "flex";
                const fecha = new Date().toISOString().slice(0, 10);
                const idProfesional = event.srcElement.offsetParent.children[1].children[0].value;
                document.getElementById("fecha-" + idProfesional).value = fecha;
                fetch(
                    `http://localhost:8080/datos/ofertas?fecha=${fecha}&idProfesional=${idProfesional}`
                ).then(response => response.json())
                    .then(data => {
                        if (data.length === 0) {
                            document.getElementById("horarios-" + idProfesional).innerHTML = "<option value=''>No hay horarios disponibles</option>";
                            document.getElementById("reservar-"+idProfesional).disabled = true;
                        } else {
                            const horarios = data.map(oferta => {
                                return `<option value="${oferta[0]}">${oferta[1]}</option>`
                            })
                            document.getElementById("idOferta-"+idProfesional).value = data[0][0];
                            document.getElementById("horarios-" + idProfesional).innerHTML = horarios.join("");
                            document.getElementById("reservar-"+idProfesional).disabled = false;
                        }
                        document.getElementById("spinner").style.display = "none";
                    })
            })
        })

        var reservas = document.getElementsByClassName("reservar-turno");
        var reservasArray = Array.from(reservas);

        reservasArray.forEach(form => {
            form.addEventListener("change", event => {
                document.getElementById("spinner").style.display = "flex";
                const idProfesional = event.srcElement.form[2].value;
                const fecha = document.getElementById("fecha-"+idProfesional).value;
                document.getElementById("fecha-" + idProfesional).value = fecha;
                if(event.target.id == "horarios-"+idProfesional){
                    document.getElementById("idOferta-"+idProfesional).value = event.target.value;
                    document.getElementById("spinner").style.display = "none";
                    return;
                }
                fetch(
                    `http://localhost:8080/datos/ofertas?fecha=${fecha}&idProfesional=${idProfesional}`
                ).then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if (data.length === 0) {
                            document.getElementById("horarios-" + idProfesional).innerHTML = "<option value=''>No hay horarios disponibles</option>";
                            document.getElementById("reservar-"+ idProfesional).disabled = true;
                        } else {
                            const horarios = data.map(oferta => {
                                return `<option value="${oferta[0]}">${oferta[1]}</option>`
                            })
                            document.getElementById("idOferta-"+idProfesional).value = data[0][0];
                            document.getElementById("horarios-" + idProfesional).innerHTML = horarios.join("");
                            document.getElementById("reservar-"+ idProfesional).disabled = false;
                        }
                        document.getElementById("spinner").style.display = "none";
                    })
            })
        })

        const botones_submit = document.querySelectorAll('button[id^="reservar-"]');
        const botones_submit_array = Array.from(botones_submit);

        botones_submit_array.forEach(element =>{
            element.addEventListener("click", () =>{
                document.getElementById("spinner").style.display = "flex";
            })
        })
    </script>

</body>

</html>