<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">
    <head th:replace="/fragments/head :: head">
    <body>
        <header th:replace="/fragments/header :: header"></header>
        <div th:replace="/fragments/toast :: div"></div>
        <h3 class="m-3">Mis Turnos</h3>
        <div>
            <div class="m-3">
                <form th:action="@{/turno/misTurnos}" class="row g-3 align-items-center" id="formulario-filtro-estado">
                    <div class="col-auto">
                        <label for="select-estados" class="col-form-label">Seleccione estado del turno</label>
                      </div>
                    <div class="col-auto">
                        <select name="estado" id="select-estados" class="form-control">
                            <option value="EN_ESPERA" th:selected="${estado == 'EN_ESPERA'}">Pendientes</option>
                            <option value="CONFIRMADO" th:selected="${estado == 'CONFIRMADO'}">Confirmados</option>
                            <option value="RECHAZADO_PROFESIONAL" th:selected="${estado == 'RECHAZADO_PROFESIONAL'}">Rechazados</option>
                            <option value="CANCELADO_PACIENTE" th:selected="${estado == 'CANCELADO_PACIENTE'}">Cancelados por usted</option>
                            <option value="CANCELADO_PROFESIONAL" th:selected="${estado == 'CANCELADO_PROFESIONAL'}">Cancelados por el profesional</option>
                            <option value="CANCELADO_ADMINISTRADOR" th:selected="${estado == 'CANCELADO_ADMINISTRADOR'}" >Cancelados por un administrador</option>
                            <option value="REALIZADO" th:selected="${estado == 'REALIZADO'}">Turnos concluidos</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary col-auto">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="m-3">
            <h2 th:text="'Turnos : ' + ${estado}"></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Especialidad</th>
                        <th>Doctor/ra</th>
                        <th>Fecha del turno</th>
                        <th>Hora del turno</th>
                        <th>Detalle</th>
                        <th>Estado del turno</th>
                        <th>Ubicacion</th>
                        <th>Precio</th>
                        <th>Cancelar</th>
                    </tr>
                </thead>
                <tbody th:if="${turnos != null || !turnos.isEmpty}">
                    <tr th:each="turno : ${turnos}">
                        <td th:text="${turno.profesional.especialidad}"></td>
                        <td th:text="${turno.profesional.nombre} +' ' + ${turno.profesional.apellido}"></td>
                        <td th:text="${turno.oferta.fecha}"></td>
                        <td th:text="${turno.horaTurno}"></td>
                        <td th:text="${turno.oferta.detalle}"></td>
                        <td th:text="${turno.estado}"></td>
                        <td th:text="${turno.oferta.ubicacion}"></td>
                        <td th:text="${turno.oferta.precio}"></td>
                        <td>
                            <a th:href="@{/turno/cancelarTurno/__${turno.id}__}" th:if="${(turno.estado != 'CANCELADO_PACIENTE' && turno.estado != 'CANCELADO_PROFESIONAL' && turno.estado != 'CANCELADO_ADMINISTRADOR') || turno.estado == 'EN_ESPERA'}"
                                th:id="'cancelarTurno-'+${turno.id}" class="btn btn-danger"
                                >
                                Cancelar Turno
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody th:if="${turnos == null || turnos.isEmpty}">
                    <tr>
                        <td colspan="9" style="width: 100%;">
                            <p>No se encontraron turnos <span th:text="${estado.toLowerCase}"></span> en este momento</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:replace="/fragments/spinner :: div"></div>
        <footer th:replace="/fragments/footer :: footer"></footer>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        <script th:src="@{/js/toast.js}"></script>
        <script>
            document.getElementById("formulario-filtro-estado").addEventListener("submit", () => {
                document.getElementById("spinner").style.display = "flex";
            });
            const cancelar = document.querySelectorAll("[id^='cancelarTurno-']");
            const cancelar_array = Array.from(cancelar);

            cancelar_array.forEach(element => {
                element.addEventListener("click", e => {
                    document.getElementById("spinner").style.display = "flex";
                });
            })
        </script>
    </body>
</html>