<!DOCTYPE html>
<html
    lang="es"
    xmlns:th="http://www.thymeleaft.org"
>

    <head th:replace="/fragments/head :: head"></head>

    <body>
        <header th:replace="/fragments/header :: header"></header>
        <div th:replace="/fragments/toast :: div"></div>
        <div class="container d-flex flex-column align-items-center mt-3 mb-3">
            <div
                class="card align-items-center"
                style="background-color: #86d162; max-width: 500px;"
            >
                <img
                    th:src="@{/assets/card-perfil.jpg}"
                    alt="pattern_card"
                    class="card-img-top"
                >
                <div
                    class="card-header position-absolute mx-5 px-5"
                    style="border-bottom: none; background: none;"
                >
                    <div
                        id="contenedor-imagen-perfil"
                        class="mt-4 align-center"
                    >
                        <img
                            th:src="@{/imagen/perfil/__${usuario.id}__}"
                            alt="Avatar"
                            class="img-fluid rounded-circle imagen-redonda"
                            th:if="${usuario.imagen != null}"
                            id="imagenPerfilFormulario"
                        >
                        <img
                            th:src="@{/assets/avatar.png}"
                            alt="Avatar"
                            class="img-fluid rounded-circle imagen-redonda"
                            th:if="${usuario.imagen == null}"
                            id="imagenPerfilFormulario"
                        >
                    </div>
                </div>
                <article class="card-article mt-5">
                    <section class="card-body mt-4 text-center">
                        <h3>
                            <span
                                class="text-capitalize"
                                th:text="${usuario.nombre}"
                            ></span>
                            <span
                                class="text-capitalize"
                                th:text="${usuario.apellido}"
                            ></span>
                        </h3>
                        <hr>
                        <div>
                            <div>
                                <p class="info-p">
                                    Correo electrónico:
                                    <span th:text="${usuario.email}"></span>
                                </p>
                                <p class="info-p">Teléfono:
                                    <span th:text="${usuario.telefono}"></span>
                                </p>
                                <p class="info-p">Fecha de Nacimiento:
                                    <span th:text="${usuario.fechaNacimiento}"></span>
                                </p>
                                <p class="info-p">DNI:
                                    <span th:text="${usuario.dni}"></span>
                                </p>
                                <p class="info-p">Género:
                                    <span th:text="${usuario.sexo}"></span>
                                </p>
                                <p class="info-p">Tipo de Usuario:
                                    <span th:text="${usuario.rol.name}"></span>
                                </p>
                                <p
                                    class="info-p"
                                    sec:authorize="hasRole('ROLE_PACIENTE')"
                                >Obra Social:
                                    <span
                                        th:text="${usuario.obraSocial}"
                                        sec:authorize="hasRole('ROLE_PACIENTE')"
                                    ></span>
                                </p>
                                <p
                                    class="info-p"
                                    sec:authorize="hasRole('ROLE_MEDICO')"
                                >Especialidad:
                                    <span
                                        th:text="${usuario.especialidad}"
                                        sec:authorize="hasRole('ROLE_MEDICO')"
                                    ></span>
                                </p>
                                <p
                                    class="info-p"
                                    sec:authorize="hasRole('ROLE_MEDICO')"
                                >Matricula:
                                    <span
                                        th:text="${usuario.matriculaProfesional}"
                                        sec:authorize="hasRole('ROLE_MEDICO')"
                                    ></span>
                                </p>
                                <p
                                    class="info-p"
                                    sec:authorize="hasRole('ROLE_MEDICO')"
                                >Descripcion:
                                    <span
                                        th:text="${usuario.descripcion}"
                                        sec:authorize="hasRole('ROLE_MEDICO')"
                                        class="text-capitalize"
                                    ></span>
                                </p>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
        <!-- Button trigger modal -->


        <!-- Modal -->

        <footer th:replace="/fragments/footer :: footer"></footer>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        <script th:src="@{/js/toast.js}"></script>
    </body>

</html>