<div
  class="col-sm-12 px-5"
  th:fragment="pacientes"
>
  <div
    id="dash-titulo"
    class="mt-2 mb-2 d-flex justify-content-between"
  >
    <h5>Mis Pacientes</h5>
    <div>--agregar busqueda--</div>
  </div>

  <div class="container rounded-3">
    <div>
      <h6>Activos</h6>
      <div
        class=""
        style="max-height: 400px; overflow: auto;"
      >
        <div th:if="${pacientesActivos != null || !pacientesActivos.isEmpty}">
          <div
            class="card mb-2 mx-2 px-2 pt-1 pb-1"
            th:each="paciente : ${pacientesActivos}"
            style="background-color: rgba(164, 215, 164, 0.75); border-color: #DDD;"
          >
            <div class="d-flex justify-content-between align-items-center mx-3">
              <div class="avatar rounded-circle overflow-hidden">
                <img
                  th:src="@{paciente.imagen}"
                  alt="Avatar"
                  class="avatar"
                  th:if="${paciente.imagen != null}"
                  style="width: 65px;"
                >
                <img
                  th:src="@{/assets/avatar.png}"
                  alt="Avatar"
                  class="avatar"
                  th:if="${paciente.imagen == null}"
                  style="width: 65px;"
                >
              </div>
              <div>
                <div>
                  <span th:text="${paciente.nombre} "></span>
                  <span th:text="${paciente.apellido} "></span>
                </div>
                <div>
                  <span>dni: </span>
                  <span th:text="${paciente.dni}"></span>
                </div>
                <div>
                  <span th:text="${paciente.obraSocial} "></span>
                </div>
              </div>
              <div>
                <div>
                  <span th:text="${paciente.email} "></span>
                </div>
                <div>
                  <span>tel: </span>
                  <span th:text="${paciente.telefono}"></span>
                </div>
              </div>
              <div class="d-grid">
                <button
                  class="btn btn-info mb-1 detalle-btn"
                  type="button"
                  th:data-url="@{/paciente/detalles/{id}(id=${paciente.id})}"
                  onclick="showFragment('detallePaciente')"
                >Detalle</button>
              </div>
            </div>
          </div>
          <div th:if="${pacientesActivos == null || pacientesActivos.isEmpty}">
            <div
              class="container rounded-1 p-1"
              style="background-color: rgba(236, 236, 236, 0.329);"
            >
              <div class="text-center">No se encuentran pacientes activos en este momento</div>
            </div>
          </div>
        </div>
      </div>

      <div class="tabla-principal">
        <h6>Inactivos</h6>
        <div
          class=""
          style="max-height: 95px; overflow: auto;"
        >
          <div th:if="${pacientesInactivos != null || !pacientesInactivos.isEmpty}">
            <div
              class="card mb-2 mx-2 px-2 pt-1 pb-1"
              th:each="paciente : ${pacientesInactivos}"
              style="background-color: rgba(164, 215, 164, 0.75); border-color: #DDD;"
            >
              <div class="d-flex justify-content-between align-items-center mx-3">
                <div class="avatar rounded-circle overflow-hidden">
                  <img
                    th:src="@{paciente.imagen}"
                    alt="Avatar"
                    class="avatar"
                    th:if="${paciente.imagen != null}"
                    style="width: 65px;"
                  >
                  <img
                    th:src="@{/assets/avatar.png}"
                    alt="Avatar"
                    class="avatar"
                    th:if="${paciente.imagen == null}"
                    style="width: 65px;"
                  >
                </div>
                <div>
                  <div>
                    <span th:text="${paciente.nombre} "></span>
                    <span th:text="${paciente.apellido} "></span>
                  </div>
                  <div>
                    <span>dni: </span>
                    <span th:text="${paciente.dni}"></span>
                  </div>
                  <div>
                    <span th:text="${paciente.obraSocial} "></span>
                  </div>
                </div>
                <div>
                  <div>
                    <span th:text="${paciente.email} "></span>
                  </div>
                  <div>
                    <span>tel: </span>
                    <span th:text="${paciente.telefono}"></span>
                  </div>
                </div>
                <div class="d-grid">
                  <button
                    class="btn btn-info mb-1 detalle-btn"
                    type="button"
                    th:data-url="@{/paciente/detalles/{id}(id=${paciente.id})}"
                    onclick="showFragment('detallePaciente')"
                  >Detalle</button>
                </div>
              </div>
            </div>
            <div th:if="${pacientesInactivos == null || pacientesInactivos.isEmpty}">
              <div
                class="container rounded-1 p-1"
                style="background-color: rgba(236, 236, 236, 0.329);"
              >
                <div class="text-center">No se encuentran pacientes inactivos en este momento</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>