<header style="background-color: rgba(164, 215, 164, 0.75);">
    <div class="container-fluid d-flex justify-content-between">
        <div class="mt-2">
            <a
                class="navbar-brand"
                href="/"
            >
                <img
                    th:src="@{/assets/clinica-img.png}"
                    alt="logo"
                    width="50"
                    height="40"
                >
                Clinica Medica
            </a>
        </div>
        <div class="d-flex">
            <div>
                <form
                    class="d-flex mt-2"
                    role="search"
                >
                    <input
                        class="form-control"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                    >
                    <button
                        class="btn btn-outline-primary"
                        type="submit"
                    >Buscar</button>
                </form>
            </div>
            <div>
                <nav
                    class="navbar navbar-expand-lg"
                    data-bs-theme="light"
                >
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarColor03"
                        aria-controls="navbarColor03"
                        aria-expanded="true"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        class="navbar-collapse show"
                        id="navbarColor03"
                    >
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                            <li class="nav-item">
                                <a
                                    class="nav-link active"
                                    aria-current="page"
                                    href="/"
                                >Inicio</a>
                            </li>
                            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a
                                    class="nav-link dropdown-toggle active"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    Administracion
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a
                                            class="dropdown-item"
                                            href="/bienvenido"
                                    >Inicio Administracion</a></li>
                                    <li><a
                                            class="dropdown-item"
                                            href="/paciente/todos"
                                        >Todos Los Pacientes</a></li>
                                    <li><a
                                            class="dropdown-item"
                                            href="#"
                                    >----</a></li>
                                </ul>
                            </li>
                            <li class="nav-item" sec:authorize="!isAuthenticated()">
                                <a
                                    class="nav-link active"
                                    aria-current="page"
                                    href="/paciente/registro"
                                >Registrarse</a>
                            </li>
                            <li class="nav-item" sec:authorize="!isAuthenticated()">
                                <a
                                    class="nav-link active"
                                    href="/login"
                                >Iniciar sesión</a>
                            </li>
  
                           <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a
                                    class="nav-link dropdown-toggle active"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Perfil
                                </a>
               
                            <ul class="dropdown-menu">
                                <li>
                                 <a class="nav-link active" href="/paciente/perfil">
                                  Ver Mi Perfil</a>
                                </li>
                                <li>
                                <a class="nav-link active" 
                                   th:href="@{/paciente/modificar/__${#httpServletRequest.getRemoteUser()}__}" 
                                   >Editar Perfil</a>
                                </li>
                               <li class="nav-item" sec:authorize="isAuthenticated()">
                                <form
                                    th:action="@{/logout}"
                                    method="post"
                                >
                                    <input
                                        class="nav-link active"
                                        type="submit"
                                        value="Cerrar sesión"
                                    >
                                </form>
                               </li>
                             </ul>
                           </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>