<header>
    <nav
        class="navbar navbar-expand-lg position-relative px-4 pt-1 pb-1 fixed-top"
        style="background-color: rgba(164, 215, 164, 0.959);"
    >
        <div class="container-fluid">
            <div class="">
                <a
                    class="navbar-brand d-flex align-items-center"
                    href="/"
                >
                    <div>
                        <img
                            th:src="@{/assets/clinica-img.png}"
                            alt="logo"
                            height="35"
                        >
                    </div>
                    <div>
                        <h1
                            style="font-size: 1.20em;"
                            class="p-0 m-0 mx-2"
                        >Medi Ya!</h1>
                    </div>
                </a>
            </div>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar"
                aria-label="Toggle navigation"
                style="border: none;"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="offcanvas offcanvas-end"
                tabindex="-1"
                id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel"
            >
                <div class="offcanvas-header">
                    <h5
                        class="offcanvas-title"
                        id="offcanvasNavbarLabel"
                    >Medi Ya!</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end  align-items-center flex-grow-1 pe-3">
                        <!-- NO LOGEADO -->
                        <li
                            class="nav-item"
                            sec:authorize="!isAuthenticated()"
                        >
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/paciente/registro"
                            >
                                Registrarse
                            </a>
                        </li>
                        <li
                            class="nav-item"
                            sec:authorize="!isAuthenticated()"
                        >
                            <a
                                class="nav-link active"
                                href="/login"
                            >
                                Iniciar sesión
                            </a>
                        </li>
                        <!-- LOGUEADO ICONO NOTIFICACION -->
                        <li sec:authorize="isAuthenticated()">
                            <button
                                id="btnNotificaciones"
                                type="button"
                                class="nav-link text-dark d-flex align-items-center justify-content-center p-3 px-2 position-relative"
                                data-bs-toggle="modal"
                                data-bs-target="#notificacionesModal"
                            >
                                <i class="fa-solid fa-bell fa-lg"></i>
                                <span
                                    class="position-absolute top-0 end-0"
                                    id="btnNotificacionesCant"
                                    th:if="${usuario != null and usuario.notificaciones != null and #lists.size(usuario.getNotificaionesNoLeidas) gt 0}"
                                >
                                    <div
                                        class="d-flex rounded-circle bg-danger align-items-center justify-content-center text-white"
                                        style="width: 18px; height: 18px; font-size: 12px;"
                                        id="numeroDeNotificacionesFondo"
                                    >
                                        <span
                                            th:text="${#lists.size(usuario.getNotificaionesNoLeidas)}"
                                        ></span>
                                    </div>
                                </span>
                            </button>
                        </li>
                        <!-- LOGUEADO COMO ADMIN -->
                        <li
                            class="nav-item dropdown"
                            sec:authorize="hasRole('ROLE_ADMIN')"
                        >
                            <div class="btn-group">
                                <button
                                    class="nav-link dropdown-toggle active"
                                    href="#"
                                    type="button"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    Administracion
                                </button>
                                <ul
                                    class="dropdown-menu dropdown-menu-lg-end dropdown-menu-lg-start mt-2"
                                    style="background-color: rgba(164, 215, 164, 0.959);"
                                >
                                    <li
                                        sec:authorize="hasRole('ROLE_ADD_PROFESIONAL')"
                                        style="width: 200px;"
                                    >
                                        <a
                                            class="nav-link"
                                            href="/profesional/registro"
                                        >
                                            Registrar Profesional
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="nav-link"
                                            href="/admin/registro"
                                        >
                                            Crear administrador
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="nav-link"
                                            href="/paciente/todos"
                                        >
                                            Todos Los Pacientes
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="nav-link"
                                            href="/profesional/todos"
                                        >
                                            Todos Los Profesionales
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="nav-link"
                                            href="/oferta/listar"
                                        >
                                            Todas Las Ofertas
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- LOGUEADO COMO PROFESIONAL -->
                        <li
                            class="nav-item"
                            sec:authorize="hasRole('ROLE_MEDICO')"
                        >
                            <a
                                class="nav-link active"
                                href="/profesional/dashboard"
                            >
                                Panel Profesional
                            </a>
                        </li>
                        <!-- LOGUEADO COMO PACIENTE -->
                        <li
                            class="nav-item"
                            sec:authorize="hasRole('ROLE_PACIENTE')"
                        >
                            <div>
                                <ul class="navbar-nav mx-2">

                                    <li>
                                        <a
                                            class="nav-link active"
                                            th:href="@{/turno/misTurnos}"
                                            sec:authorize="hasRole('ROLE_PACIENTE')"
                                        >
                                            Mis Turnos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- DESPLEGABLE DEL PERFIL -->
                        <li
                            class="nav-item"
                            sec:authorize="isAuthenticated()"
                        >
                            <div
                                class="btn-group"
                                th:if="${usuario != null}"
                            >
                                <button
                                    class="nav-link dropdown-toggle active text-capitalize"
                                    href="#"
                                    type="button"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    th:text="${usuario.nombre}"
                                ></button>
                                <ul
                                    class="dropdown-menu dropdown-menu-lg-end mt-2 p-1"
                                    style="background-color: rgba(164, 215, 164, 0.959);"
                                >
                                    <li> <!-- PERFIL -->
                                        <a
                                            class="nav-link active"
                                            th:href="@{/perfil}"
                                        >
                                            Perfil</a>
                                    </li>
                                    <li> <!-- EDITAR PERFIL Mover a un botón directamente en el perfil -->
                                        <a
                                            class="nav-link active"
                                            th:href="@{/paciente/modificar}"
                                            sec:authorize="hasRole('ROLE_PACIENTE')"
                                        >
                                            Editar Perfil
                                        </a>
                                        <a
                                            class="nav-link active"
                                            th:href="@{/profesional/modificar}"
                                            sec:authorize="hasRole('ROLE_MEDICO')"
                                        >
                                            Editar Perfil
                                        </a>
                                        <a
                                            class="nav-link active"
                                            th:href="@{/admin/modificar}"
                                            sec:authorize="hasRole('ROLE_ADMIN')"
                                        >
                                            Editar Perfil
                                        </a>
                                    </li>
                                    <li> <!-- DIVISOR -->
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li> <!-- LOGOUT -->
                                        <form
                                            th:action="@{/logout}"
                                            method="post"
                                            class="p-0 nav-link"
                                        >
                                            <button
                                                class="btn btn-sm nav-link"
                                                type="submit"
                                                value="Cerrar sesión"
                                            >
                                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                                Cerrar Sesión
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- MODAL NOTIFICACIONES -->
    <div
        class="modal fade"
        id="notificacionesModal"
        tabindex="-1"
        aria-labelledby="notificacionesModalLabel"
        aria-hidden="true"
        th:if="${usuario != null}"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1
                        class="modal-title fs-5"
                        id="exampleModalLabel"
                    >Notificaciones</h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <ul th:each="notificacion : ${usuario.notificaciones}">
                        <li id="notificacion-${notificacion.id}">
                            <span th:text="${notificacion.mensaje}"></span>
                            <button th:class="'btn btn-primary ' + ${notificacion.id} " th:id="'notificacion-'+${notificacion.id}">Marcar como leída</button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const botones = document.querySelectorAll('button[id^="notificacion-"]');
        const botones_array = Array.from(botones);
        botones_array.forEach(element => {
            element.addEventListener("click", (e) => {
                const idNotificacion = e.target.classList[2];
                fetch(
                    `http://localhost:8080/datos/marcarLeida/${idNotificacion}`
                )
                .then(response => {
<!--                    if (response.ok) {-->
<!--                        const notificacion_numero = document.getElementById("numeroDeNotificaciones");-->
<!--                        const notificacion = document.getElementById(`notificacion-${idNotificacion}`);-->
<!--                        notificacion.style.display = "none";-->
<!--                        if (parseInt(notificacion_numero.innerText) >= 0){-->
<!--                            notificacion_numero.style.display = "none";-->
<!--                            document.getElementById("numeroDeNotificacionesFondo").style.display = "none";-->
<!--                        }else{-->
<!--                            notificacion_numero.innerText = parseInt(notificacion_numero.innerText) - 1;-->
<!--                        }-->
<!--                    } else {-->
<!--                        throw new Error('Error al marcar la notificación como leída');-->
<!--                    }-->
                        if (response.ok) {
                    const notificacion_numero = document.getElementById("numeroDeNotificaciones");
                    const notificacion = document.getElementById(`notificacion-${idNotificacion}`);
                    notificacion.style.display = "none";

                    // Decrementar el número de notificaciones solo si es mayor a cero
                    const notificacionesNoLeidas = parseInt(notificacion_numero.innerText);
                    if (notificacionesNoLeidas > 0) {
                        notificacion_numero.innerText = notificacionesNoLeidas - 1;
                    }

                    // Ocultar el número si ya no quedan notificaciones por leer
                    if (parseInt(notificacion_numero.innerText) === 0) {
                        notificacion_numero.style.display = "none";
                        document.getElementById("numeroDeNotificacionesFondo").style.display = "none";
                    }
                } else {
                    throw new Error('Error al marcar la notificación como leída');
                }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            })
        });
    </script>
</header>