<!DOCTYPE html>
<html
    lang="es"
    xmlns:th="http://www.thymeleaft.org"
>
    <head th:replace="/fragments/head :: head">
    <body>
        <header th:replace="/fragments/header :: header"></header>

        <div th:replace="/fragments/toast :: div"></div>
        <div class="container">
            <form
                class="formulario"
                th:action="@{/admin/registro}"
                method="POST"
            >
                <div class="text-center mb-5">
                    <h3 class="card-title">Crear perfil como administrador</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="input-group mb-3">
                            <label
                                for="adminNombre"
                                class="input-group-text"
                            >Nombre</label>
                            <input
                                autofocus
                                type="text"
                                class="form-control"
                                name="nombre"
                                placeholder="Juan"
                                id="adminNombre"
                            >
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group mb-3">
                            <label
                                for="adminApellido"
                                class="input-group-text"
                            >Apellido</label>
                            <input
                                type="text"
                                class="form-control"
                                name="apellido"
                                placeholder="Rodriguez"
                                id="adminApellido"
                            >
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="input-group mb-3">
                            <label
                                class="input-group-text"
                                for="adminSexo"
                            >Sexo</label>
                            <select
                                class="form-select"
                                id="adminSexo"
                                name="sexo"
                            >
                                <option selected>Elige una opción</option>
                                <option value="MASCULINO">Masculino</option>
                                <option value="FEMENINO">Femenino</option>
                                <option value="X">X</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="input-group mb-3">
                            <label
                                for="adminCorreo"
                                class="input-group-text"
                            >Correo</label>
                            <input
                                type="email"
                                class="form-control"
                                name="email"
                                placeholder="email@email.com"
                                id="adminCorreo"
                            >
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group mb-3">
                            <label
                                class="input-group-text"
                                for="adminTelefono"
                            >N° de Telefono</label>
                            <input
                                type="number"
                                class="form-control"
                                name="telefono"
                                placeholder="1123456789"
                                id="adminTelefono"
                            >
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="input-group my-3">
                            <label
                                for="password"
                                class="input-group-text"
                            >Contraseña</label>
                            <input
                                type="password"
                                class="form-control"
                                name="password"
                                placeholder="******"
                            >
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group my-3">
                            <label
                                for="password"
                                class="input-group-text"
                            >Repetir Contraseña</label>
                            <input
                                type="password"
                                class="form-control"
                                name="password2"
                                placeholder="******"
                            >
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="col-lg-8">
                            <span
                                class="fw-bold fs-5 bg-disabled p-1 px-2 rounded-2"
                                for="permisos"
                            >Permisos</span>
                        <div class="input-group mb-3 justify-content-center">

                            <div
                                class="btn-group m-1"
                                role="group"
                                aria-label="Basic checkbox toggle button group"
                                th:each="permiso : ${permisos}"
                            >
                                <input
                                    class="btn-check"
                                    type="checkbox"
                                    name="permisos"
                                    th:id="${permiso.permiso.name}"
                                    th:value="${permiso.permiso.name}"
                                >
                                <label
                                    class="btn btn-outline-primary"
                                    th:text="${permiso.permiso.name}"
                                    th:for="${permiso.permiso.name}"
                                ></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-2">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                        >Cancelar</button>
                    </div>
                    <div class="col-lg-2">
                        <button
                            type="submit"
                            class="btn btn-primary"
                        >Subir</button>
                    </div>
                </div>
            </form>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        <script th:src="@{/js/toast.js}"></script>
    </body>

</html>