<!DOCTYPE html>
<html
    lang="es"
    xmlns:th="http://www.thymeleaft.org"
>
    <head th:replace="/fragments/head :: head"></head>
    <body>
        <header th:replace="/fragments/header :: header"></header>
        <div th:replace="/fragments/toast :: div"></div>
        <main>
            <div class="container"> <!-- FORMULARIO DE EDICION DE PERFIL -->
                <form
                    class="formulario"
                    th:action="@{/paciente/modificar/__${paciente.id}__}"
                    method="POST"
                    enctype="multipart/form-data"
                    id="formulario"
                >
                    <input
                        hidden
                        th:value="${paciente.id}"
                        name="idPaciente"
                    >

                    <div class="text-center mb-2 mt-5">
                        <h3 class="card-title">Actualizar Datos</h3>
                    </div>
                    <div class="row justify-content-center mt-5 mb-5">
                        <div class="col-sm-3 mb-3">
                            <div class="d-flex flex-column">
                                <div class="d-flex justify-content-center">
                                    <div id="contenedor-imagen-formulario">
                                        <label
                                            for="fotoPerfil"
                                            class="etiqueta-icono"
                                        >
                                            <img
                                                th:src="@{/imagen/perfil/__${paciente.id}__}"
                                                alt="Avatar"
                                                class="img-fluid rounded-circle imagen-redonda"
                                                th:if="${paciente.imagen != null}"
                                                id="imagenPerfilFormulario"
                                            >
                                            <img
                                                th:src="@{/assets/avatar.png}"
                                                alt="Avatar"
                                                class="img-fluid rounded-circle imagen-redonda"
                                                th:if="${paciente.imagen == null}"
                                                id="imagenPerfilFormulario"
                                            >
                                            <img
                                                id="imagenPrevia"
                                                alt="Avatar"
                                                class="img-fluid rounded-circle col-sm-8 imagen-redonda d-none"
                                            >
                                            <i class="fa-solid fa-circle-plus fa-2xl" id="icono-modificar"></i>
                                            <input
                                                id="fotoPerfil"
                                                type="file"
                                                class="form-control-file input-imagen"
                                                name="archivo"
                                            >
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="input-group mb-3">
                                <label
                                    for="pacienteNombre"
                                    class="input-group-text"
                                >Nombre</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="nombre"
                                    placeholder="Juan"
                                    id="pacienteNombre"
                                    th:value="${paciente.nombre}"
                                    autofocus
                                >
                            </div>
                            <div class="input-group mb-3">
                                <label
                                    for="pacienteApellido"
                                    class="input-group-text"
                                >Apellido</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="apellido"
                                    placeholder="Rodriguez"
                                    id="pacienteApellido"
                                    th:value="${paciente.apellido}"
                                >
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="input-group mb-3">
                                        <label
                                            class="input-group-text"
                                            for="obraSocial"
                                        >Obra Social</label>
                                        <select
                                            id="obraSocial"
                                            class="form-select"
                                            name="obraSocial"
                                        >
                                            <option
                                                th:selected="${paciente.obraSocial.name == 'OSPE'}"
                                                value="OSPE"
                                            > OSPE</option>
                                            <option
                                                th:selected="${paciente.obraSocial.name == 'SWISS_MEDICAL'}"
                                                value="SWISS_MEDICAL"
                                            >
                                                SwissMedical</option>
                                            <option
                                                th:selected="${paciente.obraSocial.name == 'SANCORSALUD'}"
                                                value="SANCORSALUD"
                                            >
                                                SancorSalud</option>
                                            <option
                                                th:selected="${paciente.obraSocial.name == 'OSPRERA'}"
                                                value="OSPRERA"
                                            >OSPRERA
                                            </option>
                                            <option
                                                th:selected="${paciente.obraSocial.name == 'UPCN'}"
                                                value="UPCN"
                                            >UPCN</option>
                                            <option
                                                th:selected="${paciente.obraSocial.name == 'OSDE'}"
                                                value="OSDE"
                                            >OSDE</option>
                                            <option
                                                th:selected="${paciente.obraSocial.name == 'PARTICULAR'}"
                                                value="PARTICULAR"
                                            >
                                                Particular</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="input-group mb-3">
                                        <label
                                            class="input-group-text"
                                            for="pacienteSexo"
                                        >Sexo</label>
                                        <select
                                            class="form-select"
                                            id="pacienteSexo"
                                            name="sexo"
                                        >
                                            <option
                                                th:selected="${paciente.sexo.name == 'MASCULINO'}"
                                                value="MASCULINO"
                                            >Masculino
                                            </option>
                                            <option
                                                th:selected="${paciente.sexo.name == 'FEMENINO'}"
                                                value="FEMENINO"
                                            >Femenino</option>
                                            <option
                                                th:selected="${paciente.sexo.name == 'X'}"
                                                value="X"
                                            >X</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <label
                                    class="input-group-text"
                                    for="pacienteTelefono"
                                >N° de Telefono</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    name="telefono"
                                    placeholder="1123456789"
                                    id="pacienteTelefono"
                                    th:value="${paciente.telefono}"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end mb-5">
                        <div class="col-lg-3 text-end">
                            <button
                                type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#cambiarContrasenha"
                            >
                                Cambiar Contraseña
                            </button>
                        </div>
                        <div class="col-lg-3">
                            <button
                                type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal"
                            >
                                Guardar Cambios
                            </button>
                        </div>
                    </div>
                    <div class="container"> <!-- MODAL CONFIRMAR CAMBIOS -->
                        <div
                            class="modal fade rounded-2"
                            id="exampleModal"
                            style="background-color: rgba(17, 34, 17, 0.356);"
                        >
                            <div class="modal-dialog modal-dialog-centered">
                                <div
                                    class="modal-content p-3"
                                    style="background-color: rgba(164, 215, 164, 0.959);"
                                >
                                    <div class="modal-header">
                                        <h5
                                            class="modal-title"
                                            id="exampleModalLabel"
                                        >Confirmar Cambios</h5>
                                        <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"
                                        ></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <label
                                                class="input-group-text"
                                                for="contrasenha"
                                            >Contraseña</label>
                                            <input
                                                type="password"
                                                class="form-control"
                                                name="password"
                                                placeholder="********"
                                                id="contrasenha"
                                            >
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button
                                            type="button"
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal"
                                        >Cancelar</button>
                                        <button
                                            type="submit"
                                            class="btn btn-primary"
                                        >Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container"> <!-- MODAL CAMBIAR CONTRASEÑA -->
                <div
                    class="modal fade"
                    id="cambiarContrasenha"
                    tabindex="-1"
                    aria-labelledby="cambiarContrasenhaLabel"
                    aria-hidden="true"
                    style="background-color: rgba(17, 34, 17, 0.356);"
                >
                    <div class="modal-dialog modal-dialog-centered">
                        <div
                            class="modal-content p-3"
                            style="background-color: rgba(164, 215, 164, 0.959);"
                        >
                            <form
                                th:action="@{/paciente/cambiarContrasenha}"
                                method="post"
                                id="cambiarContrasenhaForm"
                            >
                                <div class="modal-header">
                                    <h1
                                        class="modal-title fs-5"
                                        id="exampleModalLabel"
                                    >Cambiar Contraseña</h1>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <div class="input-group mb-3">
                                        <label
                                            class="input-group-text"
                                            for="miContrasenha"
                                        >Contraseña Anterior</label>
                                        <input
                                            type="password"
                                            class="form-control"
                                            name="password"
                                            placeholder="********"
                                            id="miContrasenha"
                                        >
                                    </div>
                                    <div class="input-group mb-3">
                                        <label
                                            class="input-group-text"
                                            for="nuevaContrasenha"
                                        >Nueva Contraseña</label>
                                        <input
                                            type="password"
                                            class="form-control"
                                            name="newPassword"
                                            placeholder="********"
                                            id="nuevaContrasenha"
                                        >
                                    </div>
                                    <div class="input-group mb-3">
                                        <label
                                            class="input-group-text"
                                            for="nuevaContrasenha2"
                                        >Repetir Contraseña</label>
                                        <input
                                            type="password"
                                            class="form-control"
                                            name="newPassword2"
                                            placeholder="********"
                                            id="nuevaContrasenha2"
                                        >
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                    >Cancelar</button>
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                        id="enviar"
                                    >Cambiar Contraseña</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer th:replace="/fragments/footer :: footer"></footer>
        <div th:replace="/fragments/spinner :: div"></div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        <script th:src="@{/js/toast.js}"></script>
        <script>
            // COdigo para que cuando cargue una foto se muestre en el div
            // var input = document.getElementById('fotoPerfil');
            // var div = document.getElementById('divParaImagen');

            
            // input.addEventListener('change', function() {
                
            //     if (this.files && this.files[0]) {
            //         var file = this.files[0];
            //         var reader = new FileReader();
            //         reader.addEventListener('load', function() {
            //             div.style.backgroundImage = 'url(' + reader.result + ')';
            //         }, false);
            //         reader.readAsDataURL(file);
            //     }
            // }, false);
            document.getElementById("cambiarContrasenhaForm").addEventListener("submit", () =>{
                document.getElementById("spinner").style.display = "flex";
            });

            document.getElementById("formulario").addEventListener("submit", () =>{
                document.getElementById("spinner").style.display = "flex";
            });

            document.getElementById("enviar").disabled = true;
            function validarPassword() {
                const password = document.getElementById("nuevaContrasenha").value;
                const password2 = document.getElementById("nuevaContrasenha2").value;

                if (password === password2 && password != "" && password2 != "") {
                    document.getElementById("enviar").disabled = false;
                } else {
                    document.getElementById("enviar").disabled = true;
                }
            }

            document.getElementById("nuevaContrasenha").addEventListener("keyup", validarPassword);
            document.getElementById("nuevaContrasenha2").addEventListener("keyup", validarPassword);
        </script>
    </body>
</html>